.ml150{margin-left: 150px;}

body{background: white;font-family: "Trebuchet MS" "微软雅黑";margin:0}
textarea{outline: none;}
.sidebar{width: 150px;position: absolute;background: #ddd;left: 0;top:0;bottom: 0;padding: 5px;}